
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */